<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | SQL</title>
  </head>
  <body>
    <h2>The total no of user are : <%=count%></h2>
    <form action="http://localhost:3000/user" method="">
      <button>Join us today...!</button>
    </form>

    <br />
    <form action="http://localhost:3000/show" method="">
      <button>See our users</button>
    </form>
  </body>
</html>
